* {
    margin: 0;
    padding: 0;
    box-sizing: none;
    /* overflow: hidden; */
}
/*
body {
    font-family: system-ui;
    color: black;
    background-color: rgb(21, 21, 23);
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.table {
    display: flex; 
    flex-flow: column;
    margin: 10px 0px 0px 10px;
    align-items: center;
    padding: 0px 0px;
} */
